<div class="container py-5 ">
    <div class="card h-100">
        <h1 class="my-3 text-capitalize px-3">books analysis page</h1>
        <div class="card-body">
            <h5 class="card-title text-capitalize">Most Checkouts books</h5>
            <div class="d-flex">
                <%= pie_chart @checkout_book_record, width: '50%', library:{animation:{easing: 'easeOutQuad'}} %>
                <%=  render 'analysis/table', books: @top_checkout_books, width: "50" %>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title text-capitalize">Most wishlist books</h5>
            <div class="d-flex">
                <%= pie_chart @wishlist_book_record, width: '50%', library:{animation:{easing: 'easeOutQuad'}} %>
                <%=  render 'analysis/table', books: @top_wishlist_books, width: "50" %>
            </div>
        </div>
        <div class="container w-75 my-5 text-center"><%= line_chart @books_data %></div>
        <h1 class="my-3 text-capitalize px-3">users analysis page</h1>
        <div class="card-body d-flex">
            <div class="w-50 mr-2">
                <h5 class="card-title">Most recommended books</h5>
                <%=  render 'analysis/table', books: @top_recommended_books, width: "100" %>
            </div>
            <div class="w-50">
                <h5 class="card-title">Most rated books</h5>
                <%=  render 'analysis/table', books: @top_rated_books, width: "100" %>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title text-capitalize">Most Checkouts books users</h5>
            <div class="d-flex">
                <%= pie_chart @checkout_user_record, width: '50%', library:{animation:{easing: 'easeOutQuad'}} %>
                <%=  render 'analysis/table', books: @top_checkout_users, width: "50" %>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title text-capitalize">Most Wishlisted books users</h5>
            <div class="d-flex">
                <%= pie_chart @wishlist_user_record, width: '50%', library:{animation:{easing: 'easeOutQuad'}} %>
                <%=  render 'analysis/table', books: @top_wishlist_users, width: "50" %>
            </div>
        </div>
        <div class="container w-75 my-5 text-center"><%= line_chart @users_data %></div>
    </div>
</div>


