<%= form_with(model: @user, local: true, autocomplete: "off" ) do |f| %>
    <div class="row mt-3">
        <div class="col">
            <div class="form-group">
                <%= f.text_field :first_name, placeholder: " ", class: "form-control form-control-in" %>
                <%= f.label :first_name, class: "form-label" %>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <%= f.text_field :last_name, placeholder: " ", class: "form-control form-control-in" %>
                <%= f.label :last_name, class: "form-label" %>
            </div>
        </div>
    </div>
    <div class="form-group">
        <%= f.email_field :email, placeholder: " ", class: "form-control form-control-in" %>
        <%= f.label :email, class: "form-label" %>
    </div>
    <div class="form-group">
        <%= f.number_field :contact_number, class: "form-control form-control-in", placeholder: " " %>
         <%= f.label :contact_number, class: "form-label" %>
    </div>
    <div class="form-group">
        <%= f.password_field :password, class: "form-control form-control-in", placeholder: " "  %>
        <%= f.label :password, class: "form-label" %>
    </div>
    <div class="form-group">
        <%= f.password_field :confirm_password, class: "form-control form-control-in", placeholder: " "  %>
        <%= f.label :confirm_password, class: "form-label" %>
    </div>
    <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class:"d-block" %>
    </div>
    <%= f.submit(@user.new_record? ? "Sign up" : "Update user", class: "btn btn-success m-auto") %>
<% end %>
