<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <% if users.first.has_key?(:whishlist_date) %>
        <th scope="col">Wishlist Date</th>
      <% else %>
        <th scope="col">Checkout Date</th>
        <th scope="col">Return Date</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% users.each.with_index do |user, index|%>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= user[:first_name] %></td>
        <td><%= user[:last_name] %></td>
        <% if user.has_key?(:whishlist_date) %>
          <td><%= user[:whishlist_date].strftime("%d/%m/%Y") %></td>
        <% else %>
          <td><%= user[:checkout_date].strftime("%d/%m/%Y") %></td>
          <td><%= user[:return_date].strftime("%d/%m/%Y") %></td>
        <% end %>
        
    </tr>
    <% end %>
  </tbody>
</table>