<div class="container py-5">
    <div class="card h-100">
        <h1 class="my-3 text-capitalize px-3"><%= @book.title %></h1>
        <div class="d-flex mx-2 border-bottom  pb-2">
            <%= image_tag(@book.image, :alt => "rss feed", :class => "card-img-top minh-250 minw-200") %>
            <div class="card-body pb-0">
                <p class="card-text mb-1"><%= @book.description%></p>
                <p class="card-text mb-1"><strong>Author:</strong> <%= @book.author%></p>
                <p class="card-text mb-1"><strong>Price:</strong> <%= @book.price %></p>
                <p class="card-text mb-1"><strong>No of Books:</strong> <%= @book.no_of_books %> / Available: <%= @book.no_of_books_available %> </p>
                <p class="card-text mt-2">
                    <% if current_user.book_borrowed?(@book) %>
                        <%= link_to "Return a book", checkout_book_path(@book), class: "btn btn-warning text-nowrap", method: :delete %>
                        <% if CheckoutBook.show_return_button?(user: current_user, book: @book) %>
                            <%= link_to "Renew a book", checkout_book_path(@book), class: "btn btn-success text-nowrap", method: :patch %>
                        <% end %>
                    <% else %>
                        <% if @book.no_of_books_available > 0 %>
                        <%= link_to "Checkout a book", checkout_books_path(book: @book), class: "btn btn-success text-nowrap", method: :post %>
                        <% else %>
                            <% if !current_user.book_reserved?(@book) %>
                                <%= link_to "Reserve book", reserve_books_path(book: @book), class: "btn btn-primary text-nowrap", method: :post %>
                            <% else %>
                                <%= link_to "Unreserve book", reserve_book_path(@book), class: "btn btn-danger text-nowrap", method: :delete %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <% if current_user.admin? && !current_page?('/users/checkout') %>
                        <%= link_to "Edit details", edit_book_path(@book), class: "btn btn-info text-nowrap" %>
                        <%= link_to "Remove book", book_path(@book), class: "btn btn-danger text-nowrap", data: {confirm: "are you sure you want to remove a book?"}, method: :delete %>
                    <% end %>
                </p>
            </div>
        </div>
        <% if current_user.admin %>
            <% if !@checkout_book_record_exist && !@wishlist_book_record_exist && @borrowed_users.size == 0 && @wishlisted_users.size == 0 %>
            <div class="book-details">
                <div class="card-body position-relative text-center">
                    <h2 class="my-2 text-capitalize welcome-page-header book-details-header">no feedbacks available</h2>
                </div>
            </div>
            <% else %>
                <div class="d-flex mt-4 justify-content-between">
                    <% if @checkout_book_record_exist %>
                        <div class= "<%= @wishlist_book_record_exist ? "w-50" : "w-100" %>" >
                            <%= pie_chart @checkout_book_record, legend: "left", library:{animation:{easing: 'easeOutQuad'}}, height: "250px" %>
                            <div class="text-center pl-5 ml-5 mt-2">Checkout Books</div>
                        </div>
                    <% end %>
                    <% if @wishlist_book_record_exist %>
                        <div class= "<%=@checkout_book_record_exist ? "w-50" : "w-100" %>" >
                            <%= pie_chart @wishlist_book_record, legend: @checkout_book_record.size != 0 ? "none" : "left", library:{animation:{easing: 'easeOutQuad'}}, height: "250px" %> 
                            <div class="text-center mt-2">Wishlist Books</div>
                        </div>
                    <% end %> 
                </div>
                <div class="container w-75 text-center my-5">
                    <h5 class="card-title text-capitalize">checkedout books vs wishlisted book</h5>
                    <%= line_chart @data %>
                </div>
                <% if @borrowed_users.size > 0 %>
                    <div class="card-body">
                        <h5 class="card-title">Book check out users</h5>
                        <%= render 'users/users_list', users: @borrowed_users %>
                    </div>
                <% end %>
                <% if @wishlisted_users.size > 0 %>
                    <div class="card-body">
                        <h5 class="card-title">Wish list users</h5>
                        <%= render 'users/users_list', users: @wishlisted_users %>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <% if @book.feedback.size > 0 %>
                <div class="card-body feedback-section">
                    <h5 class="card-title">User Feedbacks</h5>
                    <% @book.feedback.each do |feedback| %>
                        <%= render 'books/feedback_card', feedback: feedback %>
                    <% end %>
                </div>
            <% else %>
                <div class="book-details">
                    <div class="card-body position-relative text-center">
                        <h2 class="my-2 text-capitalize welcome-page-header book-details-header">no feedbacks available</h2>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
